# A TEMPLATE systemd service file for running Node-RED
# CHANGE the settings before use.
#
# This file must be linked into the /etc/systemd/system/multi-user.target.wants/ folder
#
# See https://github.com/TotallyInformation/alternate-node-red-installer
#     https://gist.github.com/Belphemur/3f6d3bf211b0e8a18d93
#     http://www.freedesktop.org/wiki/Software/systemd/
#
# After installing or changing this file, run:
# sudo systemctl daemon-reload && sudo systemctl enable node-red

[Unit]
Description=Node-Red Home Automation service
Documentation=https://github.com/TotallyInformation/alternate-node-red-installer http://nodered.org/docs
# Syslog and Networking must be active before starting
After=syslog.target network.target
# Mosquitto (MQTT) & InfluxDB may be wanted - ADJUST to need
#Wants=mosquitto.service influxdb.service

[Service]
Type=simple

# -- Set any required environment variables - ADJUST these according to your installation --
Environment="NODE-RED-PROJECT=/home/pi/node-red" # <=== ADJUST TO NEED
Environment="NODE_RED_OPTIONS=--userDir /home/pi/node-red/data -v"
Environment="NODE_OPTIONS=--max-old-space-size=128"

# Or use an environment variables file, overrides the Environment settings
# makes it nice and easy to change without having to edit this file.
# @See https://www.freedesktop.org/software/systemd/man/systemd.exec.html#EnvironmentFile=
#EnvironmentFile=/home/pi/node-red/data/envFile.txt

# No path environment variable is yet available here so make sure absolute folders specified
ExecStart=/usr/bin/node $NODE_OPTIONS $NODE-RED-PROJECT/node_modules/node-red/red.js $NODE_RED_OPTIONS

WorkingDirectory=$NODE-RED-PROJECT

# User/Group that launches node-RED (it's advised to create a new user for Node-RED)
# You can do : sudo useradd node-red then change the User=pi to User=node-red
# If changing the user/group, make sure that ALL FILES and FOLDERS have the correct
# ownership before continuing.
User=pi
Group=pi

Nice=10

SyslogIdentifier=NR
StandardOutput=syslog

# Make Node-RED restart if it fails
Restart=on-failure

#Restart=always
#RestartSec=100

# Node-RED needs a SIGINT to be notified to stop
KillSignal=SIGINT

# Prevent this service changing the OS or /etc
# @See https://www.freedesktop.org/software/systemd/man/systemd.exec.html#ProtectSystem=
ProtectSystem=full

[Install]
WantedBy=multi-user.target
